.top-floor img{
    height: 50px;
}

.row{
    padding: 20px;
}

.top-floor2 h2{
    font-weight: bold;
}

p{
    color: dimgray;
}

.btn-btn1{
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.top-floor32 h2{
    font-size: 18px;
    font-weight: bold;
}

.top-floor32 h6{
    font-size: 13px;
    color: goldenrod;
}

.top-floor32{
    margin-top: 5px;
    height: 32px;
}

.top-floor3 h5{
    font-weight: bold;
}

.top-floor3 img{
    width: 50%;
    text-align: center;
}

.top-floor3{
    margin-bottom: 50px;
}

.card-body{
    text-align: center;
}
.card img{
  margin-left: 70px;
  margin-top: 8px;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.updown{
    width: 150px;
    margin-bottom: 15px;
}

.updown img{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.uper {
    margin-top: 150px;
    margin-right: 15px;
    margin-left: 38px;
}



.uniq{
    margin-top: 80px;
}

.final-test img{
    width: 100%;
}

.final-test {
    margin-top: 90px;
    margin-left: 100px;
}

.new{
    width: 0;
    height: 0;
    position: relative;
    left: 440px;
    right: 0;
    top: 0;
    bottom: 20px;
}

.first-img img{
    border-radius: 20px;
    width: 380px;
    height: 250px;
   }